body {
    background-color: rgb(39, 21, 63);
    color: #ebc9ff;
}


#content {
    max-width: 1000px;
    margin: 0 auto;
    width: 95%;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}